.content {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
}

a{
  color: #7289da;
}

.rounded-nav a {
  display: inline block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  border-style: solid;
  background-color: black
}

.active{
  background-color: #e2e2e2y;
}

body{
  background-color: #2c2f33;
  font-family: Verdana;
  color: white;
}

table, th, td {
  border: 1px solid;
}
